* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* universal font */

.primary-font{
    color: #727272;
}
.secondary-font{
    color: #FF900E;
}
/* ---- Header start------ */

header {
    background: rgba(255, 144, 14, 0.10);
}

/* ---nav bar---- */
nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    font-size: 35px;
}

.nav-items {
    display: flex;

}

.nav-items li {
    list-style: none;
    margin-left: 18px;
    font-size: 18px;
}

/* ---banner--- */
.banner {
    width: 900px;
    margin: 115px auto;
}

.banner-content {
    text-align: center;
}

.banner-title {
    font-size: 44px;
}

.banner-description {
    margin-top: 18px;
    font-size: 16px;
    color: #727272;
}

.banner-btn {
    margin-top: 30px;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    font-size: 15px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* --------header end------- */
/* ----main start */
main{
    width: 1200px;
    margin: 100px auto;
}
/* quick list */
.quick-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.quick-list-img img{
    width: 342px;
}
.quick-list-content{
    margin-left: 20px;
}

.list-title{
    font-size: 45px;
}
.list-description{
    margin: 25px 0px 22px;
}