*{
font-family: 'Work Sans', sans-serif;
}



/* ---nav bar---- */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-title{
    
}
.nav-items{
    display: flex;

}
.nav-items li{
    list-style: none;
    margin-left: 18px;
}