* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* universal font */

.primary-font {
    color: #727272;
}

.secondary-font {
    color: #FF900E;
}

/* ---- Header start------ */

header {
    background: rgba(255, 144, 14, 0.10);
}

/* ---nav bar---- */
nav {
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    font-size: 35px;
}

.nav-items {
    display: flex;

}

.nav-items li {
    list-style: none;
    margin-left: 18px;
    font-size: 18px;
}

/* ---banner--- */
.banner {
    width: 900px;
    margin: 115px auto;
}

.banner-content {
    text-align: center;
}

.banner-title {
    font-size: 44px;
}

.banner-description {
    margin-top: 18px;
    font-size: 16px;
    color: #727272;
}

.banner-btn {
    margin-top: 30px;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    font-size: 15px;
}

.banner img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* --------header end------- */
/* ----main start */
main {
    width: 1200px;
    margin: 100px auto;
}

/* quick list */
.quick-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quick-list-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.quick-list-img img {
    width: 342px;
}

.quick-list-content {
    margin-left: 20px;
}

.list-title {
    font-size: 45px;
}

.list-description {
    margin: 25px 0px 22px;
}

/* ----enjoy section---- */

.enjoy-container{
    /* position: relative; */
    margin-top: 150px;
}
.enjoy-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.enjoy-content img{
    margin-left: 50px;
}
.enjoy-title{
    padding-left: 30px;
    font-size: 45px;
    border-left: 13px solid #FF900E;
}
.enjoy-description{
    font-size: 16px;
    margin-top: 20px;
    color: #727272;
}
.enjoy-item-container{
    margin-top: 30px;
padding: 15px;
}
.enjoy-item{
padding: 20px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}

.enjoy-item h2{
    font-size: 20px;

}
.enjoy-item p{
    font-size: 16px;
    margin-top: 12px;
}
.experience-btn{
    position: relative;
    left:450px;
    bottom: 90px;
    border-radius: 8px;
    background: #FF900E;
    padding: 50px;
    width: 200px;
}
.experience-btn>.title{
    color: white;
    text-align: center;
}


/* ------fact section */
.fact-container {
    margin-top: 150px;
}

.fact-title {
    font-size: 45px;
}

.fact-description {
    color: #727272;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 80px;
}

.fact-infos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.fact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 30px;
}

.fact-info h2 {
    font-size: 45px;
    margin: 10px 0px;
    display: flex;
}

.fact-info p {
    font-size: 20px;
    color: #727272;
}

/* ---sponsor section */
.sponsor-container {
    margin-top: 130px;
}
.sponsor-title{
    font-size: 45px;
    text-align: center;
}
.sponsor-descriotion{
    font-size: 18px;
    color: #727272;
    text-align: center;
}

.sponsor-companys{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companys img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/* ---footer */
footer{
    margin-top: 140px;
    background: #FFF4E7;
     margin-bottom: 100px;

}
.footer-title{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
/* responsive for mobile */
/* @media only screen and (max-width:576px) */

@media only screen and (max-width:576px) {
    body{
        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    .nav-items{
        flex-direction: column;
    }
    .banner{
        width: 100%;
    }
    .banner img{
        width: 100%;
    }
    main{
width: 100%;
    }
    .quick-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .quick-list-img{
        grid-template-columns: repeat(1,1fr);
    }
    .quick-list-content{
        text-align: center;
    }
    .enjoy-content{
        flex-direction: column;
    }
.enjoy-content img{
    width: 80%;
    align-items: center;
    justify-content: center;
}
.experience-btn{
    position: relative;
    left: 100px;
    bottom: 80px;
}
.fact-container{
    text-align: center;
}
.fact-infos{
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 10px;
}
.sponsor-companys{
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding:45px;

}
}